{% extends 'Dashboardbase.html' %}
{% load static %}

{%block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-6">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Friends Requests</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Request User
                                    </th>
                                    <th class="text-secondary opacity-7"></th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if friend_requests %}
                                {% for x in friend_requests %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1 person_chat">
                                            <div>
                                                {% if x.from_user.profile.profile_pic %}
                                                <img src="{{ x.from_user.profile.profile_pic.url }}" alt="..."
                                                    class="avatar avatar-sm me-3">
                                                {% else %}
                                                <img src="/media/profile_pics/default.jpg" class="avatar avatar-sm me-3"
                                                    style="border-radius: 50%;" />
                                                {% endif %}
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">@{{x.from_user}}</h6>
                                                {% if x.from_user.profile.email == "" %}
                                                <p class="text-xs text-secondary mb-0">No email</p>
                                                {% else %}
                                                <p class="text-xs text-secondary mb-0">{{x.from_user.profile.email}}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">Manager</p>
                                        <p class="text-xs text-secondary mb-0">Organization</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="text" name="user_id" value="{{x.from_user.id}}" hidden>
                                            <input type="text" name="add_friend" value="add_friend" hidden>
                                            <button type="submit" class="bg-transparent" style="border: none;">
                                                <span class="badge badge-lg bg-gradient-success">
                                                    Add Friend
                                                </span>
                                            </button>
                                        </form>
                                    </td>
                                    <td class="align-middle text-center">
                                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs"
                                            data-toggle="tooltip" data-original-title="Edit user">
                                            <i class="fa fa-trash fa-1x" style="color: red;"></i>
                                        </a>
                                    </td>

                                </tr>
                                {% endfor %}
                                {% else %}
                                <td></td>
                                <td class="d-flex justify-content-start">
                                    <h4 class="text-sm font-weight-bold my-2 text-muted">No Notifications</h4>
                                </td>
                                <td></td>
                                <td></td>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-6">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Personel Trip Requests</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Invites
                                    </th>
                                    <th class="text-secondary opacity-7"></th>
                                    <th class="text-secondary opacity-7"></th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if personel_trip_requests %}
                                {% for x in personel_trip_requests %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1 person_chat">
                                            <div>
                                                {% if x.from_user.profile.profile_pic %}
                                                <img src="{{ x.from_user.profile.profile_pic.url }}" alt="..."
                                                    class="avatar avatar-sm me-3">
                                                {% else %}
                                                <img src="/media/profile_pics/default.jpg" class="avatar avatar-sm me-3"
                                                    style="border-radius: 50%;" />
                                                {% endif %}
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">@{{x.from_user}}</h6>
                                                {% if x.from_user.profile.email == "" %}
                                                <p class="text-xs text-secondary mb-0">No email</p>
                                                {% else %}
                                                <p class="text-xs text-secondary mb-0">{{x.from_user.profile.email}}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">Manager</p>
                                        <p class="text-xs text-secondary mb-0">Organization</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="text" name="user" value="{{x.from_user.id}}" hidden>
                                            <input type="text" name="req" value="{{x.id}}" hidden>
                                            <input type="text" name="add_trip" value="{{x.to_trip.id}}" hidden>
                                            <button type="submit" class="bg-transparent" style="border: none;">
                                                <span class="badge badge-lg bg-gradient-success">
                                                    Join
                                                </span>
                                            </button>
                                        </form>
                                    </td>
                                    <td class="align-middle text-center">
                                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs"
                                            data-toggle="tooltip" data-original-title="Edit user">
                                            <i class="fa fa-trash fa-1x" style="color: red;"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <td></td>
                                <td class="d-flex justify-content-start">
                                    <h4 class="text-sm font-weight-bold my-2 text-muted">No Notifications</h4>
                                </td>
                                <td></td>
                                <td></td>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static '/js/dashboard/custom.js' %}"></script>
{% endblock %}