<style>
  . card mb-4{
    height:90%;
  }
  @media(max-height){
    . card mb-4{
      height:70%;
    } 
  }
</style>
<div class=" card mb-4">
    <div class="card-body px-0 pt-0 pb-2 overflow-auto" style="height:310px">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <tbody>

            {% for x in request.user.profile.friends.all %}
            <tr>
              <td>
                <div class="d-flex justify-content-between align-items-center px-2 py-2">
                  <div class="d-flex">
                    {% if x.profile.profile_pic %}
                    <div src="" class="rounded-circle mx-1"
                      style="background-image: url('{{x.profile.profile_pic.url}}'); width: 40px; height: 40px; background-size: cover;">
                    </div>
                    {% else %}
                    <div src="" class="rounded-circle mx-1"
                      style="background-image: url('/media/profile_pics/default.jpg'); width: 40px; height: 40px; background-size: cover;">
                    </div>
                  {% endif %}
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm d-flex align-items-center text-capitalize" style="cursor: pointer;">
                        {{x.username}}
                      </h6>
                      <p class="text-muted text-xs m-0">{% if x.profile.email %}
                        {{x.profile.email}}
                        {% else %}
                        No Email
                        {% endif %}
                      </p>
                    </div>
                  </div>
                  <a href="/dashboard/chat/person-chat?username={{x.username}}"><i
                      class="fa fa-comment-dots"></i></a>
                </div>
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
</div>