{% block content %}

<div class=" card mb-4">
    <div class="card-header pb-0 p-3">
      <div class="d-flex justify-content-between">
        <h4 class="texte pleft">Planned trip</h4>
            <button type="button" class="btn btn-primary btn-md p-1 px-3 mt-2" data-bs-toggle="modal"
              data-bs-target="#travelModal">
              Create New
        </button>
      </div>
      <div class="d-flex justify-content-between">
        <li class=" ps-8 list-inline-item ">
          <div class="modal fade" id="travelModal" tabindex="-1" role="dialog" aria-labelledby="travelModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="travelModalLabel">Travel Details</h5>
                </div>
                <form method="post" class="p-3 m-3" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="placeName">Place Name:</label>
                    <input type="text" placeholder="Search for places...." name="place_name" id="placeName"
                      class="form-control" autocomplete="off">
                    <div id="autocomplete-dropdown" class="autocomplete-items"></div>
                  </div>
                  <div class="form-group">
                    <input type="text" id="latitude" name="latitude" readonly hidden>
                    <input type="text" id="longitude" name="longitude" readonly hidden>
                  </div>
                  <div class="form-group">
                    <label for="modeOfTravel">Mode of Travel:</label>
                    <select id="modeOfTravel" class="form-control" name="mode_of_travel">
                      <option value="solo">Personal</option>
                      <option value="team">Team</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="travelStartDate">Travel Start Date:</label>
                    <input type="date" id="travelStartDate" name="start_travel_date" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="travelEndDate">Expected Travel End Date:</label>
                    <input type="date" id="travelEndDate" name="end_travel_date" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="vibes">Vibes of Travel:</label>
                    <textarea id="vibes" name="travel_vibe" class="form-control"></textarea>
                  </div>
                  <div class="form-group" id="shareing_facilities" style="display: none;">
                    <label>Are you willing to share your facilities?</label>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="share_facilities" value="yes">
                      <label class="form-check-label" for="share_facilities">
                        Yes
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="share_facilities" value="no" checked>
                      <label class="form-check-label" for="share_facilities">
                        No
                      </label>
                    </div>
                  </div>
                  <div id="ifShareFacilities"
                    style="padding: 20px;background-color: lightgray; display: none; border-radius: 20px;">
                    <div class="form-group">
                      <label>Willing to share every facilities (50/50):</label>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="share_every_facility" value="yes">
                        <label class="form-check-label" for="share_every_facility">
                          Yes
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="share_every_facility" value="no">
                        <label class="form-check-label" for="share_every_facility">
                          No
                        </label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="facilities">Facilities:</label>
                      <input type="text" id="facilities" name="facilities" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="facilitiesImage">Facilities Image:</label>
                      <input type="file" id="facilitiesImage" name="facilities_image" class="form-control-file">
                    </div>
                  </div>
                  <button type="submit" class="btn contexte mt-2">Confirm</button>
                </form>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="card-body p-3 overflow-auto" style="max-height: 320px; min-height: 320px;">
      {% if plans %}

      {% for x in plans %}
      <a href="{% url 'plantrip-detail' x.id %}" class="text-decoration-none text-dark">
        <div class="row my-2 {% if x.user == request.user %}
           bg-light
        {% endif %} border-radius-lg m-2 p-1">
          <h5 class="m-0 mb-1" style="font-size: medium;">{{x.place_name}}</h5>
          <p class="m-0 text-xs text-muted text-bolder">From: {{x.start_travel_date}}<br>To: {{x.end_travel_date}}
          </p>
          <p class="m-0 text-sm mt-1 overflow-hidden">{{x.travel_vibe}}</p>
          <div class="d-flex justify-content-between">
          </div>
          <div class="d-flex justify-content-between">
            <p class="m-0 mt-1 text-sm text-bold">
              {% if x.mode_of_travel == 'solo' %}
              Personal Trip
              {% else %}
              Group Trip
              {% endif %}
            </p>
            <p class="text-sm m-0 mt-1 text-muted text-bold p-0 text-capitalize">
              {% if x.user.username == request.user.username %}
              My Trip
              {% else %} By {{x.user.username}}
              {% endif %}
            </p>
          </div>
        </div>
      </a>
      {% endfor %}

      {% else %}

      <h4 style="color: lightgrey;" class="text-center">No Plans</h4>
      <p class="text-center" style="color: gray;">Add new Trip Plan</p>
      {% endif %}

    </div>
  </div>
  {% endblock %}